.cover {
  height: 70px;
  width: 70px;
  border-radius: 20%;
}

.artist {
  padding-top: 5px;
  margin-top: 10px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.title {
  padding-bottom: 5px;
  margin-top: 35px;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: smaller;
}

.listitem {
  display: grid;
  grid-template-columns: 70px auto;
  grid-column-gap: 10px;
}
